.header_row{
			height: 150px;
			border-bottom: 4px solid grey;
			box-shadow: 2px 2px 10px grey;
		}
		.o{
			height: 100%;
		}
		.logo{
			height: 100%;
			width: 70%;
			margin: 0 30px;
		}
		
		.heading{
			font-size: 50px;
	   	    text-align : center;
			line-height: 150px;
		}
		.b{
			border : 2px solid grey;
		}
		body{
			font-family: 'Montserrat', sans-serif;
		}
		.logout{
			
			text-align: center;
		}
		#logoutbtn{
			display: none;
			margin-top : 50px;
		}
	

@media only screen and (max-width: 1170px) {

	.heading{
	font-size : 30px;
	margin: 0px;
	line-height: 120px;
	}
	.logo{
	
	}
	.header_row{
		height: 140px;
	}
	
}

@media only screen and (max-width: 800px) {

	.logo{
		display: none;
	}
	.heading{
	font-size : 30px;
	margin: 0px;
	line-height: 0px;
	color: red;
	}






}


